<p style="color: green"><%= notice %></p>

<%= render @parking_slot %>

<div>
  <%= link_to "Edit this parking slot", edit_parking_slot_path(@parking_slot) %> |
  <%= link_to "Back to parking slots", parking_slots_path %>

  <%= button_to "Destroy this parking slot", @parking_slot, method: :delete %>
</div>
