<div id="<%= dom_id booking %>">
  <p>
    <strong>Booking:</strong>
    <%= booking.booking_id %>
  </p>

  <p>
    <strong>Passenger:</strong>
    <%= booking.passenger_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= booking.vehicle_id %>
  </p>

  <p>
    <strong>Booking date:</strong>
    <%= booking.booking_date %>
  </p>

  <p>
    <strong>Pickup location:</strong>
    <%= booking.pickup_location %>
  </p>

  <p>
    <strong>Drop location:</strong>
    <%= booking.drop_location %>
  </p>

</div>
