<p style="color: green"><%= notice %></p>

<h1>Dashboard</h1>
<%= link_to "Vehicule category", categories_path %>
<p><%= link_to "Add vehicule",  new_vehicle_path %></p>
<p><%= link_to "Parking space limit", parking_slots_path %></p>
<p><%= link_to "Manage vehicle", vehicles_path %></p>
<p><%= link_to "Reports", users_path %></p>
<p><%= link_to "Check booking",  bookings_path %></p>
<p><%= link_to "search vehicle", vehicles_path %></p>
<p><%= link_to "New user", new_user_path %></p>







