<div id="<%= dom_id driver %>">
  <p>
    <strong>Driver:</strong>
    <%= driver.driver_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= driver.vehicle_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= driver.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= driver.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= driver.address %>
  </p>

</div>
