<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle:</strong>
    <%= vehicle.vehicle_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vehicle.category_id %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= vehicle.registration_number %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= vehicle.owner_name %>
  </p>

  <p>
    <strong>Owner phone:</strong>
    <%= vehicle.owner_phone %>
  </p>

</div>
