<div id="<%= dom_id ride %>">
  <p>
    <strong>Ride:</strong>
    <%= ride.ride_id %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= ride.driver_id %>
  </p>

  <p>
    <strong>Passenger:</strong>
    <%= ride.passenger_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= ride.vehicle_id %>
  </p>

  <p>
    <strong>Ride date:</strong>
    <%= ride.ride_date %>
  </p>

  <p>
    <strong>Pickup location:</strong>
    <%= ride.pickup_location %>
  </p>

  <p>
    <strong>Drop location:</strong>
    <%= ride.drop_location %>
  </p>

  <p>
    <strong>Fare:</strong>
    <%= ride.fare %>
  </p>

</div>
